---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>External Module Script</h1>
    <p style="max-width: 600px;">
      An external type module script will use a busy-wait loop to block the main
      thread for 3 seconds before changing this paragraph's color to red. If the
      paragraph is white when the page loads, the script did not block
      rendering.
    </p>
    <a href="/">Inline Module Page</a>
    <script is:inline type="module" src="/script.js"></script>
  </body>
</html>
